
@{
    ViewBag.Title = "inicio";
}


<form action="/proyecOthello/inicioU" method="post">
    <h2>BIENVENIDO</h2>
    <head>
        <title>Bienvenido a Othello</title>
    </head>
    <body style="background-color:#FFD141;">
        <label for="Name"> Seleccione la accion que desea hacer</label>
        <h3 style="color:orangered">@ViewBag.direc</h3>
        <input type="submit" name="btn1" value="Jugar" />
        <input type="submit" name="btn1" value="Salir" />
    </body>
</form>


