
@{
    ViewBag.Title = "opcionesJuego";
}

<h2>TIPO PARTIDA</h2>

<form action="/proyecOthello/entradaFichas" method="post">
    <head>
        <title>SELECCIONE SU TIPO DE PARTIDA</title>
    </head>
    <body style="background-color:#FFD141;">
        <label for="Name"> Seleccione la accion que desea hacer</label>
        <input type="submit" name="btn1" value="PARTIDA CON LA MAQUINA" />
        <input type="submit" name="btn1" value="PARTIDA CONTRA JUGADOR" />
        <input type="submit" name="btn1" value="SALIR" />
    </body>
</form>

