
@{
    ViewBag.Title = "otroJugador";
}

<h2>JUGADOR RIVAL</h2>
<form action="/proyecOthello/nuevoJug" method="post">

    <div>
        <input type="text" class="form control" name="nombreJugador" placeholder="Introduzca su nombre como jugador" />
        
    </div>
    <input type="submit" name="btn1" value="listo" />
    <input type="submit" name="btn1" value="salir" />
</form>
